.animate-like {
  opacity: 0;
  transform: scale(0.3);
}
.animate-linked-by {
  opacity: 0;
}
.animate-user-pic {
  opacity: 0;
  transform: translateY(-5px);
}
.animate-title {
  transform: translateY(-100%);
  display: block;
}
.animate-to-store {
  opacity: 0;
}
